body{
background-color:rgb(206, 200, 200);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    width:3100;
    margin-top: 50px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img:hover {
    transform: scaleX(-1);
  }